/** Custom styles for Canvas css **/

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #333;
}

.navbar {
    background-color: #006881;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 900;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link.btn-custom {
    border: 1px solid #fff;
    margin-right: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.navbar-nav .nav-item .nav-link.btn-custom:hover {
    background-color: #fff;
    color: #006881;
}

.container-custom {
    margin: 0rem;
    padding: 1rem;
}

.course-overview {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.course-overview-text {
    max-height: 255px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.course-overview-text.expanded {
    max-height: none;
}

.course-overview-buttons {
    text-align: right;
    margin-top: 1rem;
}

.course-overview-bar {
    display: none;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.course-overview-bar .btn {
    font-weight: 900;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px solid #006881;
}

.btn-custom-alt {
    border: 1px solid #006881;
    color: #006881;
    transition: background-color 0.3s, color 0.3s;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.btn-custom-alt:hover {
    background-color: #006881;
    color: #fff;
}

.btn-show-more.expanded {
    background-color: #006881;
    color: #fff;
}

.resume-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: left;
    margin-bottom: 2rem;
}

.btn-resume {
    background-color: #006881;
    border-color: #006881;
    color: #fff;
}

.btn-resume:hover {
    background-color: #005672;
    border-color: #005672;
    color: #fff;
}

@media (max-width: 575.98px) {
    .resume-card {
        text-align: center;
    }
}

.accordion-item {
    margin-bottom: 0rem;
}

.accordion-button {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 900;
}

.completion-icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border: 2px solid grey;
    border-radius: 50%;
    background-color: transparent;
    color: grey;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    margin-right: 10px;
    font-size: 1.1rem;
    flex-shrink: 0;
    flex-grow: 0;
}

.completion-icon::before {
    content: '✔';
    color: grey;
}

.toggle-icon {
    color: #006881;
    font-size: 1.5rem;
    position: relative;
}

.toggle-icon:hover {
    color: white;
}

.toggle-icon:hover::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #006881;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    z-index: -1;
}

.accordion-button .module-title {
    flex-grow: 1;
    margin-left: 10px;
}

.btn-expand {
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem 1rem;
    background: none;
    color: #006881;
}

.btn-expand:hover,
.btn-expand:focus {
    background: none;
    color: #006881;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 1rem;
}
